doctype html
html(lang='ko')
  head
    title login page
    link(rel='stylesheet' type='text/css' media='all' href='css/audio.css')
  body
    div(class='container')
      div(class='column center')
        h1 Login
        br
        form(action='/login' method='post')
          p
            input(type='text' name='user')
          p
            input(type='password' name='pwd')
          p
            button(type='submit') login
            button(type='cancel') cancel
