doctype html
html(lang='ko')
  head
    title login page
  body
    form(action='/login' method='post')
      p
        input(type='text')
      p
        input(type='password')
      p
        button(type='submit') login
        button(type='cancel') cancel
