doctype html
html(lang='ko')
  head
    title login page
    link(rel='stylesheet' type='text/css' media='all' href='/css/audio.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript' src='/js/login.js')
  body
    div(class='container')
      div(class='column center')
        h1 Login
        form(id='login-form' action='/login' method='post')
          table(id='join-table')
            tr
              td
                |ID
              td
                input(type='text' id='user' name='user')
            tr
              td
                |PASSWORD
              td
                input(type='password' id='pwd' name='pwd')
            tr
              td(colspan='2')
                button(type='button' id='join') join
                button(type='button' id='login') login
                button(type='button' id='cancel') cancel
