doctype html
html(lang='ko')
  head
    link(rel='stylesheet' type='text/css' media='all' href='css/audio.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='js/audio.js')
    title audio
  body
    div(class='container')
      div(class='column center')
        h1 MP3 Player
      div(class='column add-bottom')
        div(id='mainwrap')
          div(id='nowPlay')
            span(class='left' id='npAction') Paused...
            span(class='right' id='npTitle')
          div(id='audiowrap')
            div(id=audio0)
              audio(preload id='audio1' controls='controls') Your browser does not support HTML5 Audio!
            div(id='tracks')
              a(id='btnPrev') &laquo;
              a(id='btnNext') &raquo;
          div(id='plwrap')
            ul(id='plList')
      div(class='column add-bottom center')
        p Designed by
          a(href='http://www.markhillard.com/') &nbsp; mh.
