doctype html
html(lang='ko')
  head
    title Search page
    link(rel='stylesheet' type='text/css' media='all' href='/css/audio.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript' src='/js/login.js')
  body
    div(class='container')
      div(class='column center')
        h1 Search from YouTube
        br
        input(type='text' id='search-text')
        button(id='search-btn') Search
        br
        br
        table
          - var index = 0
          each item in list
            tr
              td
                image(src=item.thumbnail)
              td
                = item.title
                br
                br
                form(id='form' + index action='/music/down' method='post' onSubmit='sub("form' + index + '", "progress' + index + '", event)')
                  input(type='text' hidden value=item.link name='link')
                  input(type='text' hidden value=item.thumbnail name='thumbnail')
                  button(type='submit') down
                div(id='progress' + index)
